<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title></title>

        <link rel='stylesheet' href='js/libs/reveal.js/css/reveal.css'>
        <link rel='stylesheet' href='css/main.css'>
    </head>

    <body>
        <svg style='position:absolute;width:0;height:0;overflow:hidden'>
            <defs>
                <symbol id='icon-arrow-up' viewBox='0 0 49 32'>
                    <title>Arrow up</title>
                    <path d='M42.404 30.914l6.171-6.171-23.656-23.656-23.656 23.656 6.171 6.171 17.485-17.485z'></path>
                </symbol>
                <symbol id='icon-arrow-right' viewBox='0 0 21 32'>
                    <title>Arrow right</title>
                    <path d='M0.827 27.314l3.993 3.993 15.307-15.307-15.307-15.307-3.993 3.993 11.314 11.314z'></path>
                </symbol>
                <symbol id='icon-arrow-down' viewBox='0 0 49 32'>
                    <title>Arrow down</title>
                    <path d='M7.434 1.086l-6.171 6.171 23.656 23.656 23.656-23.656-6.171-6.171-17.485 17.485z'></path>
                </symbol>
                <symbol id='icon-arrow-left' viewBox='0 0 21 32'>
                    <title>Arrow left</title>
                    <path d='M20.127 4.686l-3.993-3.993-15.307 15.307 15.307 15.307 3.993-3.993-11.314-11.314z'></path>
                </symbol>
            </defs>
        </svg>

        <div class='reveal'>
            <a href='#' class='btn-arrow up navigate-up'><svg class='icon'><use xlink:href='#icon-arrow-up'/></svg></a>
            <a href='#' class='btn-arrow right navigate-right'><svg class='icon'><use xlink:href='#icon-arrow-right'/></svg></a>
            <a href='#' class='btn-arrow down navigate-down'><svg class='icon'><use xlink:href='#icon-arrow-down'/></svg></a>
            <a href='#' class='btn-arrow left navigate-left'><svg class='icon'><use xlink:href='#icon-arrow-left'/></svg></a>

            <div class='slides'>
                <section class='slide-content bg-img-half bg-img-align-right full-height' data-background-image='img/bg-4.jpg'>
                    <div class='wrapper-cover-page'>
                        <header class='grid full-width'>
                            <div class='col-6'>
                                <img src='img/logo.png'>
                            </div>
                        </header>
                        <div class='title-cover-page grid'>
                            <div class='col-8 bg-white'>
                                <h2>Un titre de présentation inspirant</h2>
                                <h3>Ceci est un titre de troisième niveau</h3>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='slide-content bg-img-half bg-img-align-right full-height' data-background-image='img/bg-4.jpg'>
                    <div class='wrapper-cover-page'>
                        <header class='grid full-width'>
                            <div class='col-6'>
                                <img src='img/logo.png'>
                            </div>
                        </header>
                        <div class='title-cover-page grid'>
                            <div class='col-8 bg-white'>
                                <h2>Un titre de présentation inspirant</h2>
                                <h3>Ceci est un titre de troisième niveau</h3>
                            </div>
                        </div>
                        <footer>
                            <div class='grid full-width justify-between align-items-end'>
                                <div class='col-6'>
                                    <p class='very-small-txt'>A l’attention de:<br><br>
                                    Joël Bats • Manuel Amoros • Marius Trésor • Luis Fernandez • Michel Platini Dominique Rocheteau</p>
                                </div>
                                <div class='col-5 date-presentation align-right'>
                                    <span class='date color-white bg-black transparent'>20 octobre 2016</span>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
                <section class='slide-content bg-page-theme1 full-height'>
                    <div class='wrapper-cover-page'>
                        <header class='grid full-width'>
                            <div class='col-6'>
                                <img src='img/logo.png'>
                            </div>
                        </header>
                        <div class='title-cover-page grid'>
                            <div class='col-8 bg-white extend-to-left'>
                                <h2>Un titre de présentation inspirant</h2>
                                <h3>Ceci est un titre de troisième niveau</h3>
                            </div>
                        </div>
                        <footer>
                            <div class='grid full-width justify-between align-items-end'>
                                <div class='col-6'>
                                    <p class='very-small-txt'>A l’attention de:<br><br>
                                    Joël Bats • Manuel Amoros • Marius Trésor • Luis Fernandez • Michel Platini Dominique Rocheteau</p>
                                </div>
                                <div class='col-5 date-presentation align-right'>
                                    <span class='date has-border'>20 octobre 2016</span>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
                <section class='slide-content bg-page-transparent bg-page-transparent-theme3 full-height' data-background-image='img/bg-3.jpg'>
                    <div class='wrapper-cover-page'>
                        <header class='grid full-width'>
                            <div class='col-6'>
                                <img src='img/logo-white.png'>
                            </div>
                        </header>
                        <div class='title-cover-page grid'>
                            <div class='col-8'>
                                <h2 class='color-white'>Un titre de présentation inspirant</h2>
                                <h3 class='color-white'>Ceci est un titre de troisième niveau</h3>
                            </div>
                        </div>
                        <footer>
                            <div class='grid full-width justify-between align-items-end'>
                                <div class='col-6'>
                                    <p class='very-small-txt color-white'>A l’attention de:<br><br>
                                    Joël Bats • Manuel Amoros • Marius Trésor • Luis Fernandez • Michel Platini Dominique Rocheteau</p>
                                </div>
                                <div class='col-5 date-presentation color-white align-right'>
                                    <span class='date has-border color-white'>20 octobre 2016</span>
                                </div>
                            </div>
                        </footer>
                    </div>
                </section>
                <section class='slide-content' data-header-nb='1' data-header-title='Le titre principal de la première partie'>
                    <h2>Your daily dose of inspiration</h2>
                    <h3>Ceci est un titre de troisième niveau</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum nisl quis orci efficitur pharetra.</p>
                </section>
                <section class='slide-content has-bg bg-section-white bg-page-theme1' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                  <h2>Your daily dose of inspiration</h2>
                  <h3>Ceci est un titre de troisième niveau</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum nisl quis orci efficitur pharetra.</p>
                </section>
                <section class='slide-content has-bg bg-section-white-transparent' data-background-image='img/bg.jpg' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                  <h2>Your daily dose of inspiration</h2>
                  <h3>Ceci est un titre de troisième niveau</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum nisl quis orci efficitur pharetra.</p>
                </section>
                <section class='slide-content' data-background-image='img/bg-2.jpg' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <div class='wrapper-highlight grid'>
                        <div class='highlight bg-theme3 color-white col-6'>
                            <p class='medium-txt'><strong class='big-txt color-theme1'>100%</strong><br/><i>des gagnants ont tenté leur chance</i></p>
                        </div>
                        <div class='highlight bg-white color-theme4 col-6'>
                            <div class='wrapper-align-middle'>
                                <p class='medium-txt'><strong>Your daily dose of inspiration</strong></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='slide-content bg-page-transparent bg-page-transparent-theme3' data-background-image='img/bg-3.jpg' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <div class='wrapper-highlight grid'>
                        <div class='highlight color-white has-border-right col-6'>
                            <p class='medium-txt'><strong class='big-txt'>100%</strong><br/><i>des gagnants ont tenté leur chance</i></p>
                        </div>
                        <div class='highlight color-white col-6'>
                            <div class='wrapper-align-middle'>
                                <p class='medium-txt'><strong>Your daily dose of inspiration</strong></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='wrapper-vertical-slides'>
                    <section class='slide-content has-bg bg-section-white bg-page-theme1' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                        <h2>Vertical Slide 1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum nisl quis orci efficitur pharetra.</p>
                    </section>
                    <section class='slide-content has-bg bg-section-white bg-page-theme1' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                        <h2>Vertical Slide 2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum nisl quis orci efficitur pharetra.</p>
                    </section>
                </section>
                <section class='slide-content bg-img-half' data-background-image='img/bg-vertical.jpg' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <div class='grid justify-end'>
                        <div class='col-8 bg-white'>
                            <h3>Ceci est un titre de troisième niveau</h3>
                            <h2>Your daily dose of inspiration</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </section>
                <section class='slide-content' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <h2>Your daily dose of inspiration</h2>
                    <h3>Ceci est un titre de troisième niveau</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum nisl quis orci efficitur pharetra.</p>
                    <div class='grid justify-end'>
                        <div class='highlight bg-theme3 color-white extend-to-right align-right col-7'>
                            <p><strong class='big-txt'>100%</strong><br/> des gagnants ont tenté leur chance</p>
                        </div>
                    </div>
                </section>
                <section class='slide-content' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <h2>Your daily dose of inspiration</h2>
                    <h3>Ceci est un titre de troisième niveau</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum nisl quis orci efficitur pharetra.</p>
                    <div class='grid justify-center'>
                        <div class='highlight bg-theme3 color-white col-7'>
                            <p><strong class='big-txt'>100%</strong><br/> des gagnants ont tenté leur chance</p>
                        </div>
                    </div>
                </section>
                <section class='slide-content' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <h2>Your daily dose of inspiration</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>consectetur adipiscing elit.</li>
                        <li>Maecenas interdum nisl</li>
                        <li>quis orci efficitur pharetra.</li>
                    </ul>
                </section>
                <section class='slide-content' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <h2>Your daily dose of inspiration</h2>
                    <table class='align-center'>
                        <thead>
                            <tr>
                                <td>
                                    Something
                                </td>
                                <td>
                                    Some other things
                                </td>
                                <td>
                                    Something else
                                </td>
                                <td>
                                    One more thing
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    19
                                </td>
                                <td>
                                    Satisfaction
                                </td>
                                <td>
                                    Yes
                                </td>
                                <td>
                                    The Rolling Stones
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    12,5
                                </td>
                                <td>
                                    Yellow Submarine
                                </td>
                                <td>
                                    No
                                </td>
                                <td>
                                    The Beatles
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    0,5
                                </td>
                                <td>
                                    Capri, c'est fini
                                </td>
                                <td>
                                    Maybe
                                </td>
                                <td>
                                    Hervé Vilard
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class='slide-content' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <div class='mosaic mosaic-col-3 align-center'>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/la-banque-postale.jpg'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/thales.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/manpower.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/allianz.jpg'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/alma.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/algeco.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/cegelec.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/eiffage.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/transgourmet.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/elior.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/suez.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/samsic.png'>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='slide-content' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <div class='mosaic mosaic-col-2 justify-center'>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/la-banque-postale.jpg'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/thales.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/manpower.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/allianz.jpg'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/alma.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/algeco.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/cegelec.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/eiffage.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/transgourmet.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/elior.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/suez.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/samsic.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/la-banque-postale.jpg'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/thales.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/manpower.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/allianz.jpg'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/alma.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/algeco.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/cegelec.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/eiffage.png'>
                            </div>
                        </div>
                        <div class='mosaic-cell'>
                            <div class='mosaic-item'>
                                <img src='img/logo/transgourmet.png'>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='slide-content' data-header-nb='2' data-header-title='Le titre principal de la deuxième partie'>
                    <div class='grid justify-center'>
                        <div class='mosaic col-8 mosaic-col-6 justify-center'>
                            <div class='mosaic-cell'>
                                <div class='mosaic-item'>
                                    <img src='img/logo/la-banque-postale.jpg'>
                                </div>
                            </div>
                            <div class='mosaic-cell'>
                                <div class='mosaic-item'>
                                    <img src='img/logo/thales.png'>
                                </div>
                            </div>
                            <div class='mosaic-cell'>
                                <div class='mosaic-item'>
                                    <img src='img/logo/manpower.png'>
                                </div>
                            </div>
                            <div class='mosaic-cell'>
                                <div class='mosaic-item'>
                                    <img src='img/logo/allianz.jpg'>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='slide-content align-center'>
                    <h2>Merci de votre attention !</h2>
                    <p>Pour me contacter, pour plus de renseignements :</p>
                    <div class='bloc-contact'>
                        <div class='contact-infos'>
                            <div class='img-contact'>
                                <img src='img/img-contact.jpg'>
                            </div>
                            <div class='wrapper-name-company align-left'>
                                <div class='contact-name'>Sophie Dupont</div>
                                <div class='contact-company color-theme5'>CEO - MyCoolCompany</div>
                            </div>
                        </div>
                        <div class='contact-social'>
                            <ul>
                                <li class='col-4 no-padding'>
                                    <a href='#'><span class='icon-linkedin zone-icon color-white' style='background-color: #0077B5;'></span>Sophiedupont</a>
                                </li>
                                <li class='col-4 no-padding'>
                                    <a href='#'><span class='icon-twitter zone-icon color-white' style='background-color: #55ACEE;'></span>@Sophiedupont</a>
                                </li>
                                <li class='col-6 no-padding'>
                                    <a href='#'><span class='icon-envelope-o zone-icon color-black has-border border-theme5'></span>s.dupont@mycoolcompany.fr</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <footer id='footer-slides'>
                <ul class='indicators'></ul>
            </footer>
        </div>

        <footer>
        </footer>

        <script src='js/libs/jquery/dist/jquery.min.js' defer></script>
        <script src='js/libs/reveal.js/js/reveal.js'></script>
        <script src='js/libs/gsap/src/minified/TweenMax.min.js'></script>


        <script src='js/main.js' defer></script>
    </body>
</html>
